<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>70897694595-mjmn5c1cka6lkkc5bgmk73f1km9n24kr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.70897694595-mjmn5c1cka6lkkc5bgmk73f1km9n24kr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>70897694595-godqdidp3l221ufjktq2535tcpjifrrq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAFbdgSJTOnmCP1aem_0nEmwuRfcwF1Qp8</string>
	<key>GCM_SENDER_ID</key>
	<string>70897694595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cloneAppTiktok</string>
	<key>PROJECT_ID</key>
	<string>cloneapptiktok-4c440</string>
	<key>STORAGE_BUCKET</key>
	<string>cloneapptiktok-4c440.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70897694595:ios:1726576a493cb01623e8b6</string>
	<key>DATABASE_URL</key>
	<string>https://cloneapptiktok-4c440-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>